* {
	margin: 0;
	padding: 0;
}

ol, ul {list-style: none;}

img {
	border: none;
	vertical-align: middle;
}

body{
	font-family: arial;
}

.center {
    width: 1000px;
    margin: auto;
}

div#layout {
	margin: 0px auto;
	width: 100%;
	min-width: 1000px;
	background-color: #f2f2f2;
}

div#header {
	width: 100%;
	height: 30px;
	background: url(../images/header.jpg) repeat-x;
	min-width: 1000px;
}

div.hLeft {
	height: 30px;
	float: left;
}

div.hLeft ul li {
	display: inline;
	border-right: dotted 1px #4fa7f1; 
	padding: 0 10px;
	font-size: 10px;

}

div.hLeft ul li.last {
	border-right: none;
}

div.hLeft ul li a {
	text-decoration: none;
	color: #4fa7f1;
}

div.hLeft ul li a:hover{
	color: #ffffff;
}

div.hRight {
	height: 30px;
	float: right;
}

div.hRight ul li{
	display: inline;
	border-right: dotted 1px #4fa7f1; 
	padding: 0 10px;
	font-size: 10px;
	color: #5eb1fa;
}

div.hRight ul li img {
	height: 9px;
	padding-bottom: 2px;
}
div.hRight ul li.second {
	border-right: none;
}

div.hLeft ul {
	margin-top: 5px;
}

div.hRight ul {
	margin-top: 5px;
}

div#menu {
	background-color: #ffffff;
	width: 100%;
	height: 100px;
	min-width: 1000px;
}

div.mLeft {
	float: left;
	height: 100px;
}

div.mRight {
	float: right;
	height: 100px;
}

div.mRight ul li {
	display: inline;
	padding: 17px;
	font-size: 14px;
}

div.mRight ul li a {
	text-decoration: none;
	color: #272727;
}

div.mRight ul li a:hover {
	color: blue;
}

div.mRight ul li a img {
	height: 13px;
	padding-bottom: 4px;
}

div.mRight ul {
	margin-top: 35px;
}

div#banner {
	background: url(../images/gNavBot.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 90px;
	width: 100%;
	min-width: 1000px;
}

div.bLeft{
	float: left;
	margin-top: 25px;
} 

div.bLeft p{
	color: #ffffff;
	font-size: 22px;
}

div.bRight {
	float: right;
	margin-top: 35px;
	color: #ffffff;
}

div.bRight a {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
}

div.bRight a:hover {
	color: blue;
}

div#pageBody {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

div#content {
	float: left;
	background-color: #ffffff;
	width: 65%;
	padding: 20px;
	padding-bottom: 40px;
}

div#sidebar {
	float: right;
	background-color: #ffffff;
	width: 25%;
	padding: 20px;
}

div#pageBody {
	overflow: auto;
}

div#content h3 {
	color: #5e97ca;
}

div.tbleft {
	float: left;
}

div.tbLeft ul li {
	display: inline;
	padding-right: 15px;
	font-size: 12px;
}

div.tbLeft ul li img {
	height: 13px;
	padding-bottom: 3px;
}

div.tbLeft ul li.date {
	color: #b9b9b9;
}

div.tbRight {
	float: right;
}

div.tbRight ul li {
	display: inline;
	padding-right: 5px;
}

div#toolbar {
	border-bottom: solid 1px #dddddd;
	padding-bottom: 15px; 
	overflow: auto;
}

div#linklist {
	clear: both;
	padding-top: 15px;
	font-size: 13px;
}

div#linklist a {
	text-decoration: none;
	color: blue;
}

div#linklist a:hover {
	text-decoration: underline;
}

div#mainContent p {
	padding-bottom: 25px;
	font-size: 13px;
	text-align: justify;
}

div#mainContent p.first {
	font-weight: bold;
}

div#footer {
	clear: both;
}

div#mainContent div#note p{
	text-align: right;
	color: #cdcdcd;
	border-bottom: dotted 1px #d7d7d7;
	margin-bottom: 20px;
}

div#lastTb ul li{
	display: inline;
	padding-right: 10px;
	font-size: 16px;
}

div#lastTb ul li img {
	padding-bottom: 4px;
}

div#lastTb {
	margin-bottom: 20px;
}

div#lastNote ul li{
	display: inline;
	font-size: 12px;
	padding-right: 10px;
}

div#lastNote ul li img {
	height: 15px;
	padding-bottom: 3px;
}

div.sidebarLeft {
	float: left;
}

div.sidebarRight {
	float: right;
	width: 80%;
}

div.sidebarContent {
	clear: both;
}

div#sidebar  div.sidebarContent {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: dotted 1px #cdcdcd;
	overflow: auto;
}

div#sidebar  div.sidebarContent span{
	font-size: 12px;
	color: #cdcdcd;
}

div#sidebar div.last {
	border-bottom: none;
}

div.sidebarRight a {
	text-decoration: none;
	color: #272727;
	font-size: 13px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px; 
}

div.sidebarRight a:hover {
	color: blue;
}

div.sidebarRight p {
	color: #999999;
	font-size: 13px;
}

div#ftTop {
	background-color: #ffffff;
	margin-top: 150px;
	height: 150px;
}

div#ftTop ul {
	padding: 30px;
}

div#ftTop ul li{
	display: inline;
	padding-right: 25px;
}

div#ftMid {
	background-color: #f89502;
	height: 15px;
}

div#ftBot {
	background-color: #0f75bc;
	height: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
}

div.ftLeft {
	float: left;
}

div.ftLeft p{
	color: #dddddd;
	padding-bottom: 10px;
}

div.ftRight {
	float: right;
}

div#ftContact1 ul li {
	display: inline;
	font-size: 10px;
	color: #5eb1fa;
	border-right: dotted 1px #5eb1fa;
	padding: 0 15px; 
}

div#ftContact1 ul li img {
	height: 9px;
	padding-bottom: 2px;
}

div#ftContact1 ul li.last {
	border: none;
}

div#ftContact1 {
	margin-bottom: 20px;
}

div#ftContact2 ul li {
	display: inline;
	padding-right: 15px;
}

div.ftRight img{
	height: 170px;
	width: 295px;
}